ion-content {
  --background: url('../../../assets/register.jpeg') no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

// ion-list {
//   --background: rgba(255, 255, 255, 0.8) !important; /* Color de fondo translúcido */
//   --ion-background-color: rgba(255, 255, 255, 0.8) !important; /* Color de fondo translúcido */
// }

ion-toolbar{
 background-color:#97a18994;
}

ion-header {
  --background: #97a18994;
  color: white;
}

ion-toolbar {
  --background: #97a18994;
  --color: white;
}

ion-content {
  --background: #97a18994;

}

ion-item {
  --background: #97a18948;
  --color: rgb(255, 255, 255);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
