ion-content {
  --background: url('../../../assets/register.jpeg') no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

// ion-list {
//   --background: rgba(255, 255, 255, 0.8) !important; /* Color de fondo translúcido */
//   --ion-background-color: rgba(255, 255, 255, 0.8) !important; /* Color de fondo translúcido */
// }

