<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" [defaultHref]="previousUrl ?? '/'" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="libro">{{ libro.volumeInfo.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="libro && !libro.error" class="book-card">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-img [src]="libro.volumeInfo.imageLinks?.thumbnail" alt="Portada del libro"></ion-img>
        </ion-col>
        <ion-col size="9">
          <ion-card-content>
            <ion-card-title>{{ libro.volumeInfo.subtitle }}</ion-card-title>
            <ion-card-subtitle>{{ libro.volumeInfo.authors?.join(', ') }}</ion-card-subtitle>
            <ion-card-subtitle>Publicado por {{ libro.volumeInfo.publisher }}</ion-card-subtitle>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card-content>
      <p [innerHTML]="libro.volumeInfo.description"></p>
    </ion-card-content>

    <ion-list lines="none">
      <ion-item class="transparent" >
        <ion-label>ISBN-10:</ion-label>
        <ion-note slot="end">{{ libro.volumeInfo.industryIdentifiers[0].identifier }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>ISBN-13:</ion-label>
        <ion-note slot="end">{{ libro.volumeInfo.industryIdentifiers[1].identifier }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Categorías:</ion-label>
        <ion-note slot="end">{{ libro.volumeInfo.categories?.join(', ') }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Número de Páginas:</ion-label>
        <ion-note slot="end">{{ libro.volumeInfo.pageCount }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Rating Promedio:</ion-label>
        <ion-note slot="end">{{ libro.volumeInfo.averageRating ? libro.volumeInfo.averageRating : 'No disponible' }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Idioma:</ion-label>
        <ion-note slot="end">{{ libro.volumeInfo.language }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Recuento de Calificaciones:</ion-label>
        <ion-note slot="end">{{ libro.volumeInfo.ratingsCount ? libro.volumeInfo.ratingsCount : 'No hay datos'  }}</ion-note>
      </ion-item>
    </ion-list>
  </ion-card>

  <div *ngIf="libro && libro.error" class="error-message">
    <p>Error al cargar los datos del libro: {{ libro.message }}</p>
  </div>

  <div *ngIf="!libro" class="loading-message">
    <ion-spinner></ion-spinner>
    <p>Cargando...</p>
  </div>

  <ion-card *ngIf="librosDelMismoAutor && librosDelMismoAutor.length > 0" class="more-books">
    <ion-card-header>
      <ion-card-title>Libros del mismo autor</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <swiper-container  pagination="true">
        <swiper-slide class="swiperSlide" *ngFor="let libro of librosDelMismoAutor">
          <ion-card class="mini-book" (click)="verInfoLibro(libro.id)">
            <ion-img [src]="libro.volumeInfo.imageLinks?.thumbnail" alt="Portada del libro"></ion-img>
            <ion-card-content>
              <ion-card-title>{{ libro.volumeInfo.title }}</ion-card-title>
              <ion-card-subtitle>{{ libro.volumeInfo.authors?.join(', ') }}</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
      </swiper-container>
    </ion-card-content>
  </ion-card>

</ion-content>
