/* info-libro.page.scss */

ion-list{
  background-color: #ffffff00 !important; /* Negro con 50% de opacidad */
  ion-label{
font-weight: bold;
color: #1d1d1d;
  }
  ion-note{
    font-style: oblique;
    color: #272727;
  }
}

ion-content {
  --background: url('../../../assets/register.jpeg') no-repeat center center / cover;

  .book-card {
    background-color: #97a18994; /* Fondo del card */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra del card */
    border-radius: 8px; /* Borde redondeado */
    display: flex; /* Utilizar flexbox para alinear elementos */
    flex-direction: column; /* Columna para apilar elementos verticalmente */

    ion-grid {
      margin-bottom: 16px; /* Espaciado inferior entre la imagen y el contenido */

      ion-row {
        align-items: center; /* Centrar verticalmente los elementos de la fila */
      }
    }

    ion-img {
      max-height: 100px; /* Altura máxima de la imagen */
      object-fit: contain; /* Ajuste de la imagen */
      border-radius: 8px; /* Borde redondeado */
    }

    ion-card-content {
      padding: 16px; /* Espacio interno del contenido */

      ion-card-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #2d2d2d;
      }

      ion-card-subtitle {
        color: #444444; /* Color del subtítulo */
        font-size: 1rem; /* Tamaño de fuente del subtítulo */
      }
      ion-label{
        color: #2d2d2d;
      }

      p {
        margin-top: 8px; /* Margen superior del párrafo */
        color: #333333; /* Color del texto */
      }
    }
  }

.more-books{
  background-color: #97a189c6; /* Fondo del card */
  ion-card-title{
    font-size: 1.5em;
    color: #333333;
  }
}

  .mini-book {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra del card */
    border-radius: 8px; /* Borde redondeado */
    background-color: #97a18994; /* Fondo del card */

    ion-img {
      padding-top: 10px;
      height: 175px !important; /* Altura máxima de la imagen */
      object-fit: contain; /* Ajuste de la imagen */
      border-radius: 8px; /* Borde redondeado */
    }

    ion-card-content {
      padding: 10px; /* Ajusta el espaciado interno del contenido */
    }

    ion-card-title {
      font-size: 14px !important; /* Tamaño de fuente del título */
      font-weight: bold; /* Negrita para el título */
    }

    ion-card-subtitle {
      font-size: 12px; /* Tamaño de fuente del subtítulo */
      color: #666; /* Color del texto del subtítulo */
    }
  }
  swiper-slide {
    display: block;
    justify-content:baseline;
    align-items: center;
  }



  .error-message, .loading-message {
    display: flex; /* Utilizar flexbox para centrar contenido */
    flex-direction: column; /* Columnas para apilar elementos verticalmente */
    align-items: center; /* Centrar elementos horizontalmente */
    justify-content: center; /* Centrar elementos verticalmente */
    padding: 16px; /* Espaciado interno */
    margin-top: 16px; /* Margen superior */
    color: #ff5722; /* Color de texto para mensajes de error */
  }
}
