ion-content {
  --background: url('../../../assets/register.jpeg') no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
ion-grid{
  margin-top: 50px;
}

ion-card{
  background-color: #97a18994;
}

ion-text{
  color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}
p{
  color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
