<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="6" *ngFor="let libro of libros">
        <ion-card>
          <ion-card-header>
            <ion-text >{{ libro.volumeInfo.title }}</ion-text>
          </ion-card-header>
          <ion-card-content>
            <p>{{ libro.volumeInfo.authors?.join(', ') }}</p>
            <p>{{ libro.volumeInfo.publishedDate }}</p>
            <ion-img [src]="libro.volumeInfo.imageLinks?.thumbnail"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
